In [8]:
from database import *

In [30]:
init_db()

# Add Data into Table

In [27]:
register()
print_table_contents('Employees')

Registration successful!
{'status': 'success', 'message': 'Employee registered'}
Contents of table 'Employees':
    ID               Name                 Position       Department  \
0    1  Ezekiel Christian                  Auditor       Accounting
1    2     Vergil Cortney                Recruiter  Human Resources
2    3       Sharyn Xiang             Data Analyst             I.T.
3    4        Felix Brett        Transport Manager        Logistics
4    5   Annmarie Kathryn            Brand Manager        Marketing
5    6       Arline Ellis            Plant Manager       Production
6    7       Roxane Haven           Retail Manager            Sales
7    8      Conrad Buster                Architect            Works
8    9     Damian Gabriel           Data Scientist             I.T.
9   10    Clifton Griffin  Warehouse Administrator        Logistics
10  11         Lynda Lila               PR Officer        Marketing
11  12        Wilburn Guy               QC Manager       Production
12  13     Courtney Garry           Branch Manager            Sales
13  14    Yolanda Justina           Civil Engineer            Works
14  15       Colby Porter         Training Manager  Human Resources

               ImageID
0   1_EzekielChristian
1      2_VergilCortney
2        3_SharynXiang
3         4_FelixBrett
4    5_AnnmarieKathryn
5        6_ArlineEllis
6        7_RoxaneHaven
7       8_ConradBuster
8      9_DamianGabriel
9    10_CliftonGriffin
10        11_LyndaLila
11       12_WilburnGuy
12    13_CourtneyGarry
13   14_YolandaJustina
14      15_ColbyPorter

In [31]:
record_attendance()

Attendance recorded successfully!
{'status': 'success', 'message': 'Attendance recorded'}

In [32]:
print_table_contents('Attendance')

Contents of table 'Attendance':
   EmployeeID       EmployeeName        Date CheckInTime CheckOutTime
0           1  Ezekiel Christian  2024-06-23    12:43:38         None

In [33]:
record_check_out()

Check-out time recorded successfully!
None

In [34]:
print_table_contents('Attendance')

Contents of table 'Attendance':
   EmployeeID       EmployeeName        Date CheckInTime CheckOutTime
0           1  Ezekiel Christian  2024-06-23    12:43:38     12:43:50

# Drop Table

In [28]:
# Example usage to drop the Employees table
# drop_table('Employees')
drop_table('Attendance')

Table 'Attendance' has been dropped successfully.